@font-face {
    font-family:'Compressa';
	src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Compressa', sans-serif
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 70, 70);
    overflow: hidden;
}

h1 {
    text-rendering: optimizeSpeed;
    position: relative;
    font-size: 20vw;
    user-select: none;
    margin: 0 auto;
}