@font-face {
    font-family:'Compressa VF';
	src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Compressa VF'
}

header {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: rgb(65, 65, 65);
    color: rgb(249, 82, 82);
}

h1 {
    text-rendering: optimizeSpeed;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 12rem;
    transition: 0.5s;
    font-weight: 500;
    user-select: none;
}